<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.itstep.Playfie">
	<uses-sdk android:minSdkVersion="15" />
  <uses-permission android:name="android.permission.INTERNET"/>
  <activity android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"/>
  
	<application android:label="Playfie">
    <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"></meta-data>
    <uses-permission android:name="android.permission.INTERNET"/>
    
  </application>
</manifest>
